# nano .gitignore/target

# Standard Rust build output and dependencies
/target/
**/*.rs.bk

# OS/Editor specific files
.DS_Store
*.swp

# Custom project files you don't want to track:
# We ignore the files that hold the final built code and intermediate dependencies.
Cargo.lock

# Ignore compiled ChronoDB code
target/

# Ignore backup files if you made them
*~

# Ignore the unused manifest copies/temps
Cargo.jsonl
new.rs

# Ignore the intermediate files that are not the primary src/main.rs
# (Only if you are finished with main_v1_working.rs and main_chronodb.rs)
src/main_v1_working.rs
src/main_chronodb.rs

# Log files that are meant for local use/data processing
*.jsonl
*.txt

# Ignore the other data files if you don't want raw data in the repo
research_data_2.jsonl
research_data_3.jsonl
research_data_4.jsonl
research_data_5.jsonl
